@{
    ViewData["Title"] = "Home Page";
}

<h1>Tyrus Fernandes</h1>
<p><strong>Phone:</strong> +27 82 563 0878</p>
<p><strong>Email:</strong> tpaf99@gmail.com</p>

<h2>Professional Profile</h2>
<p>A determined worker skilled in Java, C#, and Kotlin coding, as well as database management, data collection, using Microsoft Office applications, and experienced in problem-solving 
    and project management techniques, I have exprience volunteering at the SPCA and waitering at Spur.</p>

<h2>Core Skills</h2>
<ul>
    <li>Java coding</li>
    <li>C# coding</li>
    <li>Kotlin coding</li>
    <li>Microsoft Office applications</li>
    <li>Project management</li>
    <li>Data collection</li>
    <li>Database management</li>
    <li>Problem solving</li>
</ul>

<h2>Career Summary</h2>
<ul>
    <li>Volunteer work at the SPCA in Alberton - taking care of the animals in the shelter - 2 Days.</li>
    <li>Fundraising work at Spur - Serving customers - 1 night .</li>
</ul>

<h2>Education and Qualifications</h2>
<ul>
    <li>Our Lady of Lebanon Maronite Catholic School (2022) - IEB Matric Certificate</li>
    <li>Studying IIE Bachelor of Computer and Information Sciences in Application Development at Varsity College Sandton</li>
</ul>
<h2>Projects</h2>
<div class="animated-border">
    <ul>
        <li>My Figma prototype design for  <a href="https://github.com/Tyrus-Fernadnes/Not-Broke-UI-design-Prototype">Not-Broke</a> budgeting app</li>
        <li>This is My <a href="https://github.com/Tyrus-Fernadnes/My-Online-CV-Website">Online-CV-Website</a> Which you are currently on</li>
    </ul>
</div>
<h2>Reference</h2>
<p>Our Lady of Lebanon Maronite Catholic School: 011-432-1046</p>


